# This is a sample .env file for use in local development.

# Duplicate this file as .env here

# Your Private key

DEVNET_PRIVKEY="0x your key here"

# Ethereum RPC; i.e., for Sepolia https://sepolia.infura.io/v3/<your infura key>

L1_SEPOLIA_RPC=

L1_SEPOLIA_ETHERSCAN_KEY=

L1_CONTRACT_ADDRESS=

# Hosted Aggregator Node (JSON-RPC Endpoint). This is Arbitrum Sepolia Testnet, can use any Arbitrum chain

L2_ARB_SEPOLIA_RPC="https://sepolia-rollup.arbitrum.io/rpc"

L2_ARB_SEPOLIA_ETHERSCAN_KEY=

L2_CONTRACT_ADDRESS=
